.add-popup__icon {
    position: absolute;
    top: -40px;
    right: -40px;
    background: none;
    border: none;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
    cursor: pointer;
}
.add-popup__icon:hover {
    opacity: 0.6;
}
@media screen and (max-width: 1279px) {
    .add-popup__icon {
            top: -36px;
            right: 0;
            width: 20px;
            height: 20px;
        }
}