.edit-form {
    display: flex;
    flex-direction: column;
    padding: 0 36px;
}
@media screen and (max-width: 1279px) {
    .edit-form {
            padding-left: 22px;
            padding-right: 22px;
        }
}